	html{ height:100%; }
body{ min-height:100%; padding:0; margin:0; position:relative; }
.infobtn {
	border: none;
	background-color: darkgrey;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 150%;
  background-color: darkgrey;
    color: white;
    text-align: left;
}

.txtbox {

  width: 15%;
  margin-bottom: 2px;
  margin-right: 4px;
}


body {
  background-color: rgb(60, 60, 60);
 transition: background-color .5s;
 position: relative;
}

body::after {
  content: '';
  display: block;
  height: 50px; /* Set same as footer's height */
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.everythinginthemenu_head {
	margin: auto;
    border: 3px solid green;
    padding: 10px;
    text-align: center;
    cursor:pointer
}
.everythinginthemenu {
	margin: auto;
    padding: 10px;
    text-align: center;
    
}
div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: right;
    width: 180px;
    text-align: center;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
    text-align: center;
}

div.desc {
    padding: 15px;
    text-align: center;
}
.txtbox {
  width: 80%;
  margin-bottom: 2px;
  margin-right: 4px;
}

.pointy {
	cursor: pointer;
}

.announcements {
	background-color: yellow; 
	margin: auto;
    text-align: center;
 position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
}

#title-bar {
  -webkit-app-region: drag;
  height: 32px; 
  padding: 2px;
    margin: 0px;  
  color: #ADADAD;
font-family: "Segoe UI", sans-serif;
}

#title {
  position: fixed;
  top: 0px;
  left: 12px; 
  font-size: 16px;
}

#title-bar-btns {
  -webkit-app-region: no-drag;
  position: fixed;
  top: 1px;
  right: 0px; 

}

#title-bar-btns button {
  height: 32px;
  width: 32px;
  background-color: transparent;
  border: none;
  color: #F1F1F1;
  font-size: 16px;

}

#title-bar-btns button:hover {
  background-color: royalblue;
}
#title-bar-btns #close-btn:hover {
  background-color: #E81123;
}

#content {
  padding: 12px;  
  color: #CCCCCC;
}

a {
  color: #68217A;
}